* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  height: 100vh;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "head head head"
    "side main main";
  border: solid 2px black;
  min-height: 100%;
}

header {
  grid-area: head;
  height: 25vh;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  font-size: 5.5rem;
  align-self: flex-start;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header div {
  font-size: 2rem;
  align-items: flex-start;
  text-align: center;
  align-self: flex center;
}
header div ul li {
  list-style: none;
}

header div ul li {
  margin-bottom: 8px;
}

header div ul li :first-child {
  font-weight: bold;
  font-size: 3rem;
}

aside {
  grid-area: side;
  height: 75vh;
  background-color: #001933;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 10%;
}
aside h2 {
  font-size: 1.9rem;
  color: red;
}
aside div {
  font-style: normal;
  font-size: 1.1rem;
  align-items: flex-start;
  text-align: left;
  color: white;
}
aside div ul li {
  list-style: none;
}

main {
  grid-area: main;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  padding-left: 5%;
  line-height: 20px;
}
main .traitrouge {
  height: 5px;
  width: 100%;
  background-color: red;
  margin-top: auto;
}

main .traitrouge2 {
  height: 5px;
  width: 100%;
  background-color: red;
  margin-top: auto;
}
main h3 {
  font-weight: 900;
  font-size: 1.3em;
  margin-top: 1em;
}
main div ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1em;
}

main p {
  padding-left: 5%;
  font-size: 1.1rem;
  font-weight: 250;
  margin-top: auto;
}

main .traitbleu {
  height: 5px;
  width: 100%;
  background-color: #001933;
  margin-top: auto;
}
